
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>garage</title>
</head>

<body>
<h3>Мастерская Елизарова</h3><hr>
<h4>Ломаю все что не смог починить</h4>

<div>
    <fieldset>
        <legend>Добавить новый автомобиль</legend>
        <form name="car" action="car-create" method="saveCar">
            <label for="brand">Марка автомобиля</label>
            <input type="text" th:field="*{brand}" id="brand" placeholder="Марка автомобиля">
            <label for="color">Цвет</label>
            <input type="text" th:field="*{color}" id="color" placeholder="Цвет">
            <label for="year">Год выпуска</label>
            <input type="text" th:field="*{year}" id="year" placeholder="Год выпуска">
            <label for="mileage">Пробег</label>
            <input type="text" th:field="*{mileage}" id="mileage" placeholder="Пробег">
            <input type="submit" value="Добавить автомобиль">
        </form>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>Добавить деталь</legend>
        <form name="detail" action="car-create" method="saveCar">
            <label for="detail_name">Наименование детали</label>
            <input type="text" th:field="*{name}" id="detail_name" placeholder="Наименование">
            <label for="country">Страна производитель</label>
            <input type="text" th:field="*{country}" id="country" placeholder="Страна производитель">
            <input type="submit" value="Добавить деталь">
        </form>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>Добавить работника</legend>
        <form name="name" action="employee-create" method="saveEmployee">
            <label for="employee_name">Имя</label>
            <input type="text" th:field="*{name}" id="employee_name" placeholder="Имя">
            <label for="surname">Фамилия</label>
            <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия">
            <label for="specialization">Специализация</label>
            <input type="text" th:field="*{year}" id="specialization" placeholder="Специализация">
            <input type="submit" value="Добавить работника">
        </form>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>Поиск автомобиля</legend>
        <form name="searchForm" action="findAll" method="POST">
            <@ui.formInput id="t3" name="searchName" label="Поиск"/> <br/>
            <input type="submit" value="Search" />
        </form>
    </fieldset>
</div>
<p><#if lastSearch??>Поиск для: ${lastSearch}<#else></#if></p>

<@ui.table id="table1" rows=cars![]/>

</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>АВТОМАСТЕРСКАЯ</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>АВТОМАСТЕРСКАЯ</h1><hr>-->
<!--<h4>Ломаем все что не смогли починить</h4>-->
<!--<form action="/" method="get">-->
<!--    Поиск по названию автомобиля: <input type="text" name="title"><br>-->
<!--    <input type="submit" value="Поиск"/>-->
<!--</form>-->
<!--<#list products as product>-->
<!--<div>-->
<!--    <p><strong>${product.title}</strong> ${product.price} руб. | <a href="/product/${product.id}">Подробнее...</a></p>-->
<!--</div>-->
<!--<#else>-->
<!--<h3>Товаров нет</h3>-->
<!--</#list>-->
<!--<hr>-->
<!--<h3>Добавить автомобиль</h3>-->
<!--<form action="/product/create" method="post">-->
<!--    Название объявления: <input type="text" name="title"/><br><br>-->
<!--    Описание объявления: <input type="text" name="description"/><br><br>-->
<!--    Цена: <input type="number" name="price"/><br><br>-->
<!--    Город: <input type="text" name="city"/><br><br>-->
<!--    Имя: <input type="text" name="author"/><br><br>-->
<!--    <input type="submit" value="Добавить товар"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->




<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Cars</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:switch="${cars}">-->
<!--    <h2 th:case="null">No cars found!</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>Cars</h2>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>car_id</th>-->
<!--                <th>car_brand</th>-->
<!--                <th>car_color</th>-->
<!--                <th>car_year</th>-->
<!--                <th>car_mileage</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="car : ${cars}">-->
<!--                <td th:text="${car.id}"></td>-->
<!--                <td th:text="${car.brand}"></td>-->
<!--                <td th:text="${car.color}"></td>-->
<!--                <td th:text="${car.year}"></td>-->
<!--                <td th:text="${car.mileage}"></td>-->
<!--                <td><a th:href="@{car-update/{id}(id=${car.id})}">Edit</a></td>-->
<!--                <td><a th:href="@{car-delete/{id}(id=${car.id})}">Delete</a></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <p><a href="/car-create">Create car</a></p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->